.container{
    background-color: white;
    width: 60%;
    height: auto;
}

  #bgLogo a img {
    display:block;
    margin:auto;
    /* opacity: ; */

}  

 #bgLogo2 a img {
    display:block;
    margin:auto;
    width:auto;

}  

#btnSubmit input{
    display:block;
    margin:auto;
}

/* 
#bgFullName a input{
    display:block;
    margin:auto;
}

#bgMobNum a input{
    display:block;
    margin:auto;
}

#bgEmail a input{
    display:block;
    margin:auto;
}

#aprtSize a label{
    display:block;
    margin:auto;
} */



/* body  {
    background-image: url("../images/bg.jpg");
    background-color: #cccccc;
} */
/* .checkboxes1{
     text-align: center;
}
.checkboxes1 input{
      margin: 0px 0px 0px 0px;
}
.checkboxes1 label{
      margin: 0px 150px 0px 100px;
      text-align: center;
} */