
  <div class="container">        
      <img src="https://s13.postimg.org/zdsw98a3r/logo.png"><br>     <br>
              <img src="https://s13.postimg.org/4v33okifr/form_field_form_textu.png"><br><br>
  <form>
    <input type="text" placeholder=" Full Name" size="50" style="font-family: Arial; font-size:20px; height:25px;"><br>
    <input type="tel" placeholder=" Mobile Number" size="50" style="font-family: Arial; font-size:20px; height:25px;"><br>
    <input type="email" placeholder=" Email" size="50" style="font-family: Arial; font-size:20px; height:25px;"><br>
<div class="checkboxes1">
    <label><b>I am interested in:</b></label><BR>
    <label><input type="checkbox" style="width:20px; height:20px;">  STUDIO  </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> ONE BEDROOM </label><br><br>
    <label><input type="checkbox" style="width:20px; height:20px;"> TWO BEDROOM </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> RETAIL </label><br><br>
</div>

    My Budget is: <br>
    <label><input type="checkbox" style="width:20px; height:20px;"> AED 400,000 TO AED 700,000 </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> AED 700,000 to AED 1,000,000</label><br>
    <label><input type="checkbox" style="width:20px; height:20px;"> AED 1,000,000 TO AED 1,250,000 </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> AED 1,250,000 TO AED 1,500,000+ </label><BR><BR>
    

I am Looking to Purchase an Apartment within: <BR>
    <label><input type="checkbox" style="width:20px; height:20px;"> Immediately </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> 3 TO 6 MONTHS </label><BR>
    <label><input type="checkbox" style="width:20px; height:20px;"> 6 TO 12 MONTHS </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> 12 TO 18 MONTHS </label>
<BR><BR>

    Locations: <BR>
    <label><input type="checkbox" style="width:20px; height:20px;"> BUSINESS BAY DUBAI </label>
    <label><input type="checkbox" style="width:20px; height:20px;"> DUBAI SILICON OASIS </label>

<BR><br>
    <label>Remarks: <textarea rows="4" cols="50"></textarea></label><br><br>
    <input type="submit" value="SUBMIT" style="font-size:small; width:300px; height:50px; background-color:orangered">
    <button type="button" class="btn btn-success">Success</button>
 </form>
 </div>